name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: rice-cli
            asset_name: rice-cli-linux-amd64
          - os: macos-latest
            target: x86_64-apple-darwin
            artifact_name: rice-cli
            asset_name: rice-cli-macos-amd64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: rice-cli.exe
            asset_name: rice-cli-windows-amd64.exe

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Rename binary
        shell: bash
        run: |
          cp target/${{ matrix.target }}/release/${{ matrix.artifact_name }} ${{ matrix.asset_name }}

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ matrix.asset_name }}
